
Options -Indexes
#//debug remove for production
Options +Indexes

RedirectMatch 403 ^/.git/?$
RedirectMatch 403 ^/base.inc.php?$
RedirectMatch 403 ^/constants.inc.php?$
RedirectMatch 403 ^/csrf.inc.php?$
RedirectMatch 403 ^/dev_log.inc.php?$
RedirectMatch 403 ^/error.inc.php?$
RedirectMatch 403 ^/file_head.inc.php?$
RedirectMatch 403 ^/general.inc.php?$
RedirectMatch 403 ^/gitignore?$
RedirectMatch 403 ^/.gitignore?$
RedirectMatch 403 ^/html.inc.php?$
RedirectMatch 403 ^/pl?$
RedirectMatch 403 ^/pl-all.sh?$
RedirectMatch 403 ^/ps?$
RedirectMatch 403 ^/ps-all.sh?$
RedirectMatch 403 ^/remote_log.inc.php?$
RedirectMatch 403 ^/run_all_npm_dev.sh?$
RedirectMatch 403 ^/server_scripts.ini?$
RedirectMatch 403 ^/.gitmodules?$
RedirectMatch 403 ^/.htpasswd?$
